# Configuration for this project's test, etc

# coverage_limit
# version
# version_git_tag
# <language>_enabled
# <action>_<language>_tool
# test_<language>_files
lint_xml_files: {xml}src
# NOT: {xml}catalog
#lint_xml_files: {xml}src/style
#lint_xml_files: {xml}src/desktop
lint_xml_catalog_files: catalog/root.xml
# docs_<language>_files
# coverage_<language>_ignore

# inttest_<language>_invoke: <command>[@<invocation-directory>]
